{% extends 'layout.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h1>編輯頁面</h1>
  <form action="/post/{{post._id.toString()}}" method="post">
      <p><input type="text" placeholder="公司名稱" name="company"       value="{{post.company}}"></p>
    <p><input type="text" placeholder="工作職缺" name="job"             value="{{post.job}}"></p>
    <p><input type="text" placeholder="工作內容" name="task"            value="{{post.task}}"></p>
    <p><input type="text" placeholder="徵求條件" name="condition"       value="{{post.condition}}"></p>
    <p><input type="text" placeholder="工作地點" name="workplace"       value="{{post.workplace}}"></p>  
    <p><input type="text" placeholder="工作時間" name="worktime"        value="{{post.worktime}}"></p>
    <p><input type="text" placeholder="月休" name="holiday"            value="{{post.holiday}}"></p>
    <p><input type="text" placeholder="公司福利" name="welfare"         value="{{post.welfare}}"></p>
    <p><input type="text" placeholder="薪資範圍" name="salary"          value="{{post.salary}}"></p>
    <p><input type="text" placeholder="需求人數" name="number"          value="{{post.number}}"></p>
    <p><input type="text" placeholder="聯絡人/連絡方式" name="contact"   value="{{post.contact}}"></p>
    <p><textarea placeholder="其他備註" name="body"                     value="{{post.body}}"></textarea></p>
    <p><input type="submit" value="儲存"><input type="submit" value="取消"></p>
  </form>
{% endblock %}