{% extends 'layout.html' %}

{% block title %}人力銀行{% endblock %}

{% block content %}
  <li><a href="list.html">主頁</a></li>
  <li><a href="news.asp">我的資料</a></li>

  <li style="float:right"><a class="active" href="#about">註冊</a></li>
    <li style="float:right"><a class="active" href="">登入</a></li>

  <h1>人力銀行</h1>
  <p>目前有 <strong>{{ posts.length }}</strong> 個新工作!</p>
  <p><a href="/post/new">發布新工作</a></p>
  <ul id="posts">
    {% for post in posts %}
      <li>
        <h2>{{ post.title }}</h2>
        <p><a href="/post/{{ post._id.toString() }}">{{post.workplace}}&nbsp{{post.job}}&nbsp{{post.company}}</a></p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}