{% extends 'layout.html' %}

{% block title %}人力銀行{% endblock %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">人力銀行</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">首頁 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">熱門</a></li>
        
      </ul>
      <form class="navbar-form navbar-left" action="/post/result" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="輸入關鍵字" name="searchname">
        </div>
        <button type="submit" class="btn btn-default">搜尋</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/auth/facebook">使用Facebook登入</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的資料 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">個人資料</a></li>
            <li><a href="#">帳號設定</a></li>
            <li><a href="#">發佈資訊</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">收件匣</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">登出</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


 <!-- 

 <li><a href="/">主頁</a></li>
  <li><a href="news.asp">我的資料</a></li>

  <li style="float:right"><a class="active" href="#about">註冊</a></li>
    <li style="float:right"><a class="active" href="">登入&nbsp&nbsp</a></li>

    -->

  <!--
  <p>目前有 <strong>{{ posts.length }}</strong> 個新工作!</p>
  <p><a href="/post/new">發布新工作</a></p>
 -->


 <div class="row">
  <div class="col-md-10"></div>
  <div class="ccol-md-2"><a class="btn btn-default" href="/post/new" role="button">發布新工作</a></div>
</div>
  <!--search input
  <form action="/post/result" method="get">
    <input type="search" name="searchname" placeholder="輸入工作名稱" />
    <input type="submit" value="搜尋" />
  </form>
  -->
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">地區</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">北部
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Submenu 1-1</a></li>
            <li><a href="#">Submenu 1-2</a></li>
            <li><a href="#">Submenu 1-3</a></li> 
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">中部
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Submenu 1-1</a></li>
            <li><a href="#">Submenu 1-2</a></li>
            <li><a href="#">Submenu 1-3</a></li> 
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">南部
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Submenu 1-1</a></li>
            <li><a href="#">Submenu 1-2</a></li>
            <li><a href="#">Submenu 1-3</a></li> 
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">離島
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">澎湖</a></li>
            <li><a href="#">金門</a></li>
            <li><a href="#">馬祖</a></li> 
          </ul>
        </li>
      </ul>
</div>
  <div class="col-md-10">

    <table  id="customers">
          <tr>
            <th>地區</th>
            <th>職稱</th>
            <th>公司</th>
          </tr>
    </table>       
    {% for post in posts %}
      
        <h2>{{ post.title }}</h2>
        <table class="table table-sm table-inverse">
          <tr>
            <td><a href="/post/{{ post._id.toString() }}">{{post.workplace}}</a></td>
            <th><a href="/post/{{ post._id.toString() }}">{{post.job}}</a></th>
            <td><a href="/post/{{ post._id.toString() }}">{{post.company}}</a></td>
          </tr>
    </table>
    {% endfor %}
  </div>
  
</div>

  
    
        
        
      

    
  
{% endblock %}