{% extends 'layout.html' %}

{% block title %}人力銀行{% endblock %}

{% block content %}

<div id="Top">
	<li><a href="list.html" style="color:#FF44AA">主頁</a></li>
	<li><a href="news.asp" style="color:#FF44AA">我的資料</a></li>

	<li style="float:right"><a class="active" href="#about" style="color:#FF44AA">註冊</a></li>
    <li style="float:right"><a class="active" href="" style="color:#FF44AA">登入&nbsp&nbsp</a></li>
</div>
  <h1>人力銀行</h1>
  <p>目前有 <strong>{{ posts.length }}</strong> 個新工作!</p>
  <p><a href="/post/new">發布新工作</a></p>
  <ul id="posts">
    <table  id="customers">
          <tr>
            <td>地區</td>
            <th>工作名稱</th>
            <td>公司</td>
          </tr>
    </table>       
    {% for post in posts %}
      <li>
        <h2>{{ post.title }}</h2>
        <p style="text-align: center">
        
        
        <table>
          <tr>
            <td><a href="/post/{{ post._id.toString() }}">{{post.workplace}}</a></td>
            <th><a href="/post/{{ post._id.toString() }}">{{post.job}}</a></th>
            <td><a href="/post/{{ post._id.toString() }}">{{post.company}}</a></td>
          </tr>
        </table>
        
        </p>
      </li>

    {% endfor %}
  </ul>
{% endblock %}