{% extends 'layout.html' %}

{% block title %}建立新工作{% endblock %}

{% block content %}
  <h1>發布新工作</h1>

  <form action="/post" method="post">  <!--action 伺服器上等待接收送出資訊之網頁url
                                       //app.use(route.post('/post', routes.create)); -->
    <p><input type="text" placeholder="公司名稱" name="company"></p>
    <p><input type="text" placeholder="工作職缺" name="job"></p>
    <p><input type="text" placeholder="工作內容" name="task"></p>
    <p><input type="text" placeholder="徵求條件" name="condition"></p>
    <p><input type="text" placeholder="工作地點" name="workplace"></p>
    <p><input type="text" placeholder="工作時間" name="worktime"></p>
    <p><input type="text" placeholder="月休" name="holiday"></p>
    <p><input type="text" placeholder="公司福利" name="welfare"></p>
    <p><input type="text" placeholder="薪資範圍" name="salary"></p>
    <p><input type="text" placeholder="需求人數" name="number"></p>
    <p><input type="text" placeholder="聯絡人/連絡方式" name="contact"></p>

    <p><textarea placeholder="其他備註" name="body"></textarea></p>
    <p><input type="submit" value="建立"></p>
  </form>
{% endblock %}
