{% extends '../layout.html' %}
{% block content %}
<div class="row">
        <div class="col-xs-12">
        <!-- photo slide-->
          <div class="box">
              
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="http://localhost:3000/dist/img/photoshow3.jpg" alt="" style="width:100%;">
                  </div>

                  <div class="item">
                    <img src="http://localhost:3000/dist/img/photoshow2.jpg" alt="" style="width:100%;">
                  </div>
    
                  <div class="item">
                    <img src="http://localhost:3000/dist/img/photoshow1.jpg" alt="" style="width:100%;">
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            
          </div>
          <!-- photo slide end-->
          <div class="box">
            <div class="box-header bg-maroon color-palette">
              <h3 class="box-title">熱門工作</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>職稱</th>
                  <th>公司</th>
                  <th>發表者</th>
                  <th>日期</th>
                  <th>觀看次數</th>
                </tr>
                {% for hotPost in hotPosts %}
                <tr >
                  <td><a href="/article/{{post.id}}"><a href="/article/{{hotPost.id}}">{{hotPost.title}}</a>
                  </td>
                  <td>{{post.company}}</td>
                  <td>{{hotPost.author}}</td>
                  <td>{{hotPost.time|date('Y-m-d',-480)}}</td>
                  <td>{{hotPost.views}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
        </div>
          <!-- /.box -->
    </div>
</div>
<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header bg-aqua disabled color-palette">
              <h3 class="box-title">工作列表</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>職稱</th>
                  <th>公司</th>
                  <th>發表者</th>
                  <th>日期</th>
                  <th>觀看次數</th>
                </tr>
                {% for post in posts %}
                <tr>
                  <td><a href="/article/{{post.id}}">{{post.title}}</td>
                  <td>{{post.company}}</td>
                  <td>{{post.author}}</td>
                  <td>{{post.time|date('Y-m-d',-480)}}</td>
                  <td>{{post.views}}</td>
                  <!--管理權限-->
                  {% if priority >1 %} 
                  <td><button type="button" onclick="window.location.href='/delete?id={{post.id}}'" class="btn btn-danger" style="width:40px;height:24px;font-size:12px">刪除</button></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
        </div>
          <!-- /.box -->
    </div>
</div>
{% endblock %}